<carousel>
  <slide>
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/30-Vital_de_oliveira_%2838263322491%29.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="http://www.osmais.com/wallpapers/201207/lindos-peixinhos-wallpaper-1900x1200.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="http://www.osmais.com/wallpapers/201209/0b9fc21497-1900x1200.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
